/* * {
  border: 1px solid red;
} */
* {
  -webkit-appearance: none;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
}

button {
  outline: none;
  margin: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

ul {
  padding: 10px;
  margin: 0 auto;
}
li {
  float: left;
  width: calc(100% - 20px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  padding: 5px;
  margin: 5px;
  background-color: rgba(64,64,64,.1);
  border-radius: 3px;
}

li > img, li > video {
  width: 100%;
  height: auto;
}

li > a {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
li > a.with-size {
  position: relative;
  padding-right: 50px;
}

li > a.with-size > span {
  position: absolute;
  right: 0;
}

#show-img{
  width: 100%;
  height: 100%;
  z-index: 99999;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(64,64,64,.9);
  padding: 25px;
}
#show-img img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  margin: auto;
  display: block;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

#show-raw {
  width: 100%;
  height: 100%;
  z-index: 99999;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(64,64,64,.9);
  padding: 50px;
}
#show-raw > textarea{
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: auto;
  display: block;
  border-radius: 5px;
  font-family: Consolas,Monaco,monospace;
  font-size: 13px;
  overflow: auto;
  white-space: pre;
}

#nav {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  line-height: 24px;
  padding: 6px 12px;
  border: 1px solid;
  cursor: pointer;
  border-radius: 3px;
  z-index: 999;
  background: #fff;
  opacity: .5;
  transition: all .3s;
}
#nav:hover {
  opacity: 1;
}

#show-btn {
  position: fixed;
  bottom: 20px;
  right: 100px;
  font-size: 18px;
  line-height: 24px;
  padding: 6px 12px;
  border: 1px solid;
  cursor: pointer;
  border-radius: 3px;
  z-index: 999;
  background: #fff;
  opacity: .5;
  width: 62px;
  transition: all .3s;
}

[name="base-path"] {
  position: fixed;
  bottom: 20px;
  right: 161px;
  font-size: 18px;
  line-height: 24px;
  padding: 6px 12px;
  border: 1px solid;
  cursor: pointer;
  border-radius: 3px 0 0 3px;
  z-index: 999;
  background: #fff;
  height: 38px;
  width: 200px;
  max-width: 50%;
  transition: all .3s;
}


.on-active {
  background: #333 !important;
  color: #fff !important;
  border-color: #333 !important;
  opacity: 1 !important;
  border-radius: 0 3px 3px 0 !important;
}

.show {
  display: block;
}
.hide {
  display: none;
}

@media screen and (min-width: 600px) {
  li {
    width: calc(50% - 20px);
  }
}

@media screen and (min-width: 1000px) {
  li {
    width: calc(100% / 3 - 20px);
  }
}